/* importing font Work Sans from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font and margin for whole body */
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/* -------------
background color for upper part. nav and header
-----------------*/
nav, header{
    background-color: #FF900E1A;
    width: 100%;
}
/* --------------
nav section style start
-----------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
/* navigation menu which is in top right side */
.nav-menu{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.nav-menu li{
    list-style: none;
    display: inline;
    padding-left: 45px;
}
/*--------------------- 
    nav styling ends here 
-----------------------*/

/* -------------------
    header starts here 
----------------------*/
header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 60px;
}
.header-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    text-align: center;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
}
.header-title h1{
    margin: 100px 0 0 0;   
    line-break: auto;
}
.header-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* -------------------
    header ends here 
----------------------*/

/* -------------------
    padding for whole menu 
----------------------*/
main{
    padding: 50px 240px 0 240px;
}
/* -------------------------------------------------------------------
    default button style. it is used in whole page buttons for styling.
----------------------------------------------------------------------*/
.button{
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    border: none;
    font-size: 20px;
}
/* -------------------
    quicklist starts here 
----------------------*/
.quicklist-title{
    font-size: 45px;
    font-weight: 500;
}
/* ----------------------------------------------------------
    class quicklist contains whole grid images in this section    
--------------------------------------------------------------*/
.quicklist{
    margin-top: 85px;
    display: flex;
    gap: 73px;
}
.quicklist-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.quicklist-title h3, .quicklist-description p{
    margin: 0;
}
.quicklist-description{
    color: #727272;
    font-size: 16px;
}
/* ------------------------
    color of the word "quicklist"   
---------------------------*/
.word-quicklist{
    color: #727272;
}
/* ------------------------
    color of the word "features"   
---------------------------*/
.word-features{
    color: #FF900E;
}
/*--------------------------------------------------
    class quicklist contains texts which is in 
    right side of the this section    
----------------------------------------------------*/
.quicklist-detail{
    margin-top: 202px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/*-------------------------
quicklist section ends here  
-
-
-
---------------------------*/

/*-------------------------
feature section starts here  
---------------------------*/
.features-container-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 21px;
    border-left: 5px solid #FF900E;
}
.feature-title{
    font-size: 20px;
    font-weight: 600;
}
.feature-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features-container{
    margin-top: 40px;
    display: flex;
    gap: 54px;
}
.feature-box{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-button{
    position: relative;
    bottom: 150px;
    padding: 46px 42px 45px 42px;
}
.feature-button h2{
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}
.feature-button p{
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}
/* --------------
some facts section
starts here  
---------------
*/
/* ---------------------
this is the mother of this 
whole some fact section 
------------------------*/
.some-facts{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/*---------------------
       parent of the upper 
       side texts of some fact
       section 
    ------------------------
     */
.some-facts-head{
    width: 545px;
}
.some-facts-head-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.some-facts-head-title h3{
    margin: 0;
}
/* ---------------------
this is the parent of boxes 
in some fact section 
------------------------*/
.some-facts-box-container{
    display: flex;
    gap: 124px;
}
/* ---------------------
single container of each box 
------------------------*/
.some-facts-box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 36px 60px 35px;
}
/* special effects in the boxes */
.some-facts-box:hover{
    transform: translate(5px, 20px);
    background-color:  #c5d5c5;
}
.some-facts-box-count-number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.some-facts-box p{
    margin: 0;
}
.some-facts-box-count-title{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* ------------------
some facts ends 
---------------------*/
/* -------------------
extra section for bonus
which is "most viewed projects
starts from here
---------------------*/
/* ------------------
mother of this whole section
---------------------*/
.blog-section{
    margin-top: 100px;
}
.blog-title{
    text-align: center;
    font-size: 40px;
    color: #3b2727;
}
.blog-container{
    display: grid;
    grid-template-columns:repeat(2, 400px);
    gap: 40px;
    justify-content: center;
}
.blog img{
    width: 300px;
    height: 200px;
}
/* special effects in these boxes */
.blog img:hover{
    transform: translate(-20px);
}
/*--------------------
 blogs end 
 ---------------------*/
 /* sponsors section starts */

 /* mother of this section */
 .sponsors{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
 /* logo container */
.sponsors-logo{
    filter: grayscale(100%);
    display: flex;
    width: 90%;
    gap: 155px;
}
.sponsors-text{
    text-align: center;
    width: 35%;
}
.sponsors-text h3{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
}
.sponsors-text p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* --------------------
end of sponsors section
----------------------- */
.copyright-section{
    background-color:  #FFF4E7;
    border-radius: 8px;
    height: 100px;
    margin: 130px 240px 240px 215px;
}
.copyright-text{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    position: relative;
    top: 30%;
}
/* ------------------------------
media query for making responsive 
design starts from here
---------------------------------*/
@media only screen and (max-width: 576px){
    main{
        padding: 0;
    }
    .body{
        margin: 0;
        padding: 0;
    }
    nav{
        flex-direction: column;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .nav-title{
        font-size: 24px;
    }
    .nav-menu li{
        padding: 0 0 0 0 ;
    }
    /*----------------------------
    nav ends 
    ------------------------------*/
    .header-top{
        gap: 10px;
    }
    .header-title{
        font-size: 24px;
    }
    .header-title h1{
        margin-top: 0;
    }
    .header-description{
        font-size: 16px;
        width: 60%px;
        margin: 0 20px 0 20px;
    }
    .header-image img{
        width: 100%;
    }
    /*--------------- 
    header ends
    -----------------*/
    .quicklist-images{
        grid-template-columns: 1fr;
    }
    .button{
        padding: 12px 10px 12px 14px;
        font-size: 20px;
    }
    .quicklist{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .quicklist-detail{
        margin-top: 0;
        align-items: center;
        text-align: center;
    }
    .quicklist-title{
        font-size: 24px;
    }
    .quicklist-image img{
        width: 75%;
    }
    /*----------------------- 
    quicklist ends here 
    ------------------------- */
    .features-container{
        flex-direction: column;
    }
    .features-container-title{
        font-size: 24px;
        text-align: left;
    }
    .feature-box{
        text-align: center;   
    }
    .feature-right-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .feature-right-part img{
        width: 75%;
    }
    .feature-button{
        position: inherit; 
        padding: 22px 18px 20px 20px; 
    }
    .feature-button h2{
        font-size: 24px;
    }
    .feature-button p{
        font-size: 14px;
    }
    /*---------------------
        features ends here
    ------------------------
     */
    .some-facts-box-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    
    .some-facts-head-description{
        font-size: 14px;
    }
    .some-facts-head{
        width: 75%;
    }
    .some-facts-head-title{
        font-size: 20px;
    }
    .some-facts{
        margin-top: 30px;
        align-items: center;
        gap: 20px;
        text-align: center;
        width: 90%;
    }
    /*---------------------
     some facts end
    ------------------------
     */
    .blog-title{
        font-size: 26px;
    }
    .blog-container{
        grid-template-columns: repeat(1,150px );
        padding-right: 100px;
    }
    .sponsors-logo{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    .sponsors-text h3{
        font-size: 24px;
    }
    .sponsors-text{
        width: 80%;
    }
    /*---------------------
    blog ends
    ------------------------
     */
    .copyright-section{
        height: 100px;
        margin: 40px 20px 40px 20px;
    }
    .copyright-text{
        font-size: 16px;
    }
}
/* ----------------------------
end of mobile responsive style 
------------------------------*/
@media only screen and (min-width:577px) and (max-width:992px) {
    main{
    padding: 50px 240px 0 240px;
    }
    body img{
        width: 75%;
    }
    .quicklist{
        flex-direction: column;
        gap: 73px;
    }    
}